---
import BasicLayout from "../layouts/BasicLayout.astro";
---

<BasicLayout title="Blog">
  <h1>Blog 🚀</h1>
  <p>Créative Coding.</p>
  <a href="/testTd/blog/post-1">First Post</a>
    <a href="/testTd/blog/post-2">Second Post</a>
</BasicLayout>